#conteudo {
    width: 800px;
    height: 1000px;
    background-color: white;
    margin: 0 auto;

}

#cabecalho {
    width: 800px;
    height: 300px;
    background-color: white;
    display: flex;
}

#destaques {
    height: 150px;
    width: 800px;
    background-color: white;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
   
}

::-webkit-scrollbar-thumb {
    width: 6px;
}

#feed {
    width: 800px;
    height: 1000px;
    background-color: white;
    object-fit: cover;
}

#fotodeperfil {
    width: 300px;
    height: 300px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#textodeperfil {
    width: 500px;
    height: 300px;
    background-color: white;
    padding: 20px 50px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#fotodeperfil img,
.destaque img {
    border-radius: 50%;
    
}

.juntinhos {
    margin: 0;
}

#span-seguindo {


    margin-left: 50px;

}

#pill {
    background-color: lightgray;
    padding: 2px 8px;
    border-radius: 20px;
    margin-block: 8px;
    
}

#essenao {
    margin: 12px 0px;
}

#pill img {
    margin-bottom: -3px;
}

a {
    text-decoration: none;
}

#icone-link {
    height: 12px;
    width: 12px;
    display: inline-block;
    background-size: 12px;
    background-image: url(Chain_link_icon_slanted.png);

}

.destaque {
    width: 120px;
    height: 150px;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    

    p {
        margin-top: 0;
        text-align: center;
        font-weight: 600;
    }
}

.destaque img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    object-fit: cover;

}

#feed {
    height: 600px;
    width: 800px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
}

.fotosfeed {
    aspect-ratio: 3 / 4;
    display: flex;
    align-items: center;
    justify-content: center;


}
.fotosfeed img {
        height: 350px;
        width: 260px;
        object-fit: cover;

    }

