.btn-topo {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
}

img {
    width: 200px;
    height: 200px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.social-stats {
  display: flex;
  gap: 20px;
  font-family: sans-serif;
}

.stat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stat-number {
  font-weight: bold;
  font-size: 18px;
  color: #333;
}

  .stat-label {
  font-size: 14px;
  color: #666;
}

.bio {
    font-family: sans-serif;
    font-size: 16px;
    color: #333;
    margin-top: 20px;
    text-align: center;
}

.container.text {
    text-align: center;
    position: fixed;
}

.imagem.redonda {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}